/* 전체 네비게이션 관련 화면을 감싼 DIV로, 위치(배치) 조정. */
.navigation {
	width:370px;
	height:100%;
	position: absolute; right: 0px; top: 0.1px;
	
}

/* 기본 네비게이션 화면으로, 문제와 이전다음버튼, stage버튼이 존재하는 화면을 감싼 DIV */
.wrap { 
 position:absolute; /*감싸는 레이어에 포지션 속성을 잡아주는 게 필수!(relative, absolute, fixed 중 택1*/
 width:100%; height:100%;
 background:#1a1a1a; 
 margin:0 auto;  
 color:#000; 
 font-size:12px; 
 padding-left: 10px;
 }
 
 /* stage 버튼을 눌렀을 경우 나타나는 화면을 감싼 DIV */
.level-menu { 
position:absolute; top:0.01px; left:0.01px;/*위에 올라가는 레이어의 포지션은 top, bottom 둘 중 하나, left, right 둘 중 하나의 속성을 선택하여 잡아준다.*/ 
height:100%;
width: 100%;
padding-left: 5px;
background: #6e6e6e; 
display: none;
}

/*전체 Body에 적용되는 요소.*/
html, body {
	width:100%; 
	height:90%;
	color: white;
	background-color: black;
}

/*stage버튼 누르면 나타나는 Choosing level 관련 css*/
.choosinglv {
	color: orange;
	font-size: 25pt;
	font: bold;
	margin-right: 20px;
}
/* 언어 변환 버튼 관련 DIV css*/
.langcheck {
	position: absolute;
}
/*기본 네비게이션 화면 배치를 위한 부모css*/
.float-btnframe {
	background: #1a1a1a;
 		padding: 10px;
 		color: orange;
 		overflow: hidden;
 		margin-top: 30px;
}

/*기본 네비게이션 화면 배치를 위한 자식css*/
.float-unit {
	background-color: #1a1a1a;
	border: none;
	color: orange;
	float: left;
	margin-top: 35px;
	margin-bottom: 15px;
}
.btn {
	float: right;
	font-size: 25px;
}

.navicontext {
	color: white;
	font-size: 17px; 
}
.qs {
	font-size: 25px;
}
.lvstat {
	font-size: 30px;
}
.nxtbtn {
	margin-right: 5px; 
}
	
		
/* Dropdown Button */
.dropbtn {
    background-color: #ffcc33;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   	float: right;
   	margin-right: 9px;
}

/*stage버튼 관련 css*/
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/*진행 바 관련 css*/
.progress-small { 
overflow:hidden; height:7px; margin-bottom:0px; width:97%;
background-color:gray; border-radius:0px; 
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1); 
box-shadow:inset 0 1px 2px rgba(0,0,0,.1); 
}
/*진행 바 관련 css*/ 
.progress-bar-small { 
float:left; 
width:0;
height:100%; 
font-size:6px;
line-height:7px; 
color:#fff; 
text-align:center; background-color:red; 
-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15); 
box-shadow:inset 0 -1px 0 rgba(0,0,0,.15); 
-webkit-transition:width .6s ease; transition:width .6s ease; 
} 
/*진행 바 관련 css*/
.progress-bar-s-info {background-color: #ff9900;} 

.lvmemu {
	border-bottom: 1px solid;
	border-bottom-color: orange; 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #6e6e6e;
}
