@charset "UTF-8";
	
	
	
	
/* editor skin */
textarea {
	width: 100%;
	height:13rem;
}
.editor {
  position: relative;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.editor-pane {
  float: left;
  width: 50%;
  height:100%;
}

.editor-pane:last-child {
  border-right: solid 1px rgba(255,255,255,.03);
  border-bottom: solid 1px rgba(255,255,255,.03);
}

.editor * {
  font-family: menlo,monospace;
  font-size: 14px;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.editor .input-header {
	height:100%;
	font-size:30px;
  text-align: left;
  background: #4CAF50; 
  vertical-align:middle;
  padding : 5px 10px 10px 10px;
  border-top: solid 1px rgba(255,255,255,.05);
  border-bottom: solid 1px rgba(255,255,255,.05);
  border-radius: 2px 2px 0 0;
  color: white;
}

.markup {
  line-height: 150%;
  font-family: menlo;
}
 
.editor .file-window {
  padding: 10px 10px 10px 46px;
  position: relative;
  min-height: 270px;
}
.editor .table-window {
	height:100%;
  padding: 10px 10px 10px 10px;
  position: relative;
  vertical-align: middle;
  background-color:#efefef;
  min-height:270px;
}
.editor .css-view {
  background: #efefef;
  color: #AAA;
}

.editor .table-name {
	height:60px;
	vertical-align:middle;
	padding:10px 10px 10px 10px;
	margin-top:0px;
	font-family: Verdana,sans-serif;
	color:white;
 	float: right;
}
.editor .submitbtn-div {
	height:61px;
	vertical-align:middle;
	margin-top:0px;
	font-family: Verdana,sans-serif;
	color:white;
 	float: right;
}
/*stage버튼 관련 css*/
.submitbtn:hover, .submitbtn:focus {
    background-color: #3e8e41;
}

.editor .line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  font-family: menlo, monospace;
  padding: 10px 10px;
  height: 100%;
  line-height: 150%;
  text-align: right;
}

.css-view .line-numbers {
  color: #999;
  background: #DDD;
}

.html-view .line-numbers {
  color: #666;
  border-right: solid 1px #333;
}

.html-view .file-window {
  background: rgba(0,0,0,.3);
}

.editor input {
  font-family: menlo, monospace;
  color: #333;
  border: none;
  width: calc(100% - 44px);
  background: none  ;
}

.editor input.input-strobe {
  background: rgba(62,203,255,.3);
  -webkit-animation: input .5s infinite;
  -moz-animation: input .5s infinite;

}

@-webkit-keyframes input {
  50% { background:none ; }
}

@-moz-keyframes input {
  50% { background:none ; }
}

.editor input:focus {
  outline: none;
  border-color: #555;
}

.result {
  padding: 10px 0;
  color: #BBB;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}



.table_data {
	width: 100%;
}
.table_data td {
	text-align: center;
	border: 1px solid #1f1f1f;
	background-color:#efefef;
	
}
.table_data th {
	text-align: center;
	border: 1px solid #1f1f1f;
	background-color: #afaffa;
}
.selected {
	font-style: italic;
	background-color:yellow;
}
.success {
	width:100%;
	height:100%;
	position:absolute;
	background-color:white;
	opacity: .7;
  	z-index: 1;
  	text-align: center;
}
.success div {
	font-size:100px;
}
.success button {
	font-family: Verdana,sans-serif;
	margin-left:40%;
	color:black;
	font-size:20px;
	height:70px;
	width:20%;
}
.fail {
	width:100%;
	height:100%;
	position:absolute;
	background-color:darkred;
	opacity: .7;
  	z-index: 1;
  	text-align: center;
  	padding-top:20%;
}
.fail div {
	font-size:30px;
	color:white;
}
tr th.t_head {
	font-family: Verdana,sans-serif;
}
tr td.t_body {
	font-family: Verdana,sans-serif;
	padding-bottom: 0.4rem;
	padding-top: 0.4rem;
}
.stripe {
    background: #7f007f;
    background: -webkit-linear-gradient(
                        #cccccc       0, #cccccc  1.3rem,
                        #ffffff  1.3rem, #ffffff  2.6rem,
                        #cccccc  2.6rem, #cccccc  3.9rem,
                        #ffffff  3.9rem, #ffffff  5.2rem,
                        #cccccc  5.2rem, #cccccc  6.5rem,
                        #ffffff  6.5rem, #ffffff  7.8rem,
                        #cccccc  7.8rem, #cccccc  9.1rem,
                        #ffffff  9.1rem, #ffffff 10.4rem,
                        #cccccc 10.4rem, #cccccc 11.7rem,
                        #ffffff 11.7rem, #ffffff 13.0rem,
                        #cccccc 13.0rem, #cccccc 14.3rem,
                        #ffffff 14.3rem, #ffffff 15.6rem,
                        #cccccc 15.6rem, #cccccc 16.9rem);
}
.submitbtn {
	margin-top:-5px;
	padding:15px 10px 10px 10px;
	vertical-align:middle;
	margin-left:0.375rem; 
	margin-right:0.375rem;
	height:100%;
	font-size:1.5rem;
	font-family:Verdana,sans-serif;
	color:white;
    background-color: #ffcc33;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}