<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.basicsqledu.www.mapper.FeedbackMapper">
	<insert id="insertBoard" parameterType="board">
		insert into	board2(
				fb_no
				,fb_user
				,email
				,title
				,content
			)values(
				board2_seq.nextval
				,#{fb_user}
				,#{email}
				,#{title}
				,#{content}
			)				
	</insert>

	<select id="selectBoardAll" parameterType="map" resultType="board">
		select			
			*		
		from
			board2
		<if test="searchText != null">
		where
			title like '%' || #{searchText} || '%'
				OR
			content like '%' || #{searchText} || '%'
		</if>
		order by
			fb_no desc
	</select>
	
	<select id="selectBoardOne" parameterType="int" resultType="board">
		select
			fb_no
			,title
			,content
			,to_char(inputdate, 'yyyy-MM-dd') inputdate
		from
			board2
		where
			fb_no = #{fb_no}	
	</select>
	
	<select id="getTotal" parameterType="HashMap" resultType="int">
		select
			count(*)
		from
			board2
	</select>

	
	<update id="updateMemo" parameterType="board">
	update
		board2
	set
		status = #{status}
		,memo = #{memo}
	where
		fb_no = #{fb_no}
	</update>

	<update id="updateStatus" parameterType="board">
	update
		board2
	set
		status = #{status}
	where
		fb_no = #{fb_no}		
	</update>
</mapper>
