<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 게시판 처리 SQL -->
<mapper namespace="com.basicsqledu.www.mapper.QuizMapper">

	<!-- View를 활용하는 데이터로 -->
	<select id="getAnimal" resultType="animal">
		SELECT *
		FROM
			animal_view
	</select>

	<!-- 문제의 답 데이터를 획득한다. -->
	<select id="">
	
	</select>
	
</mapper>